{% extends "base.html.twig" %}

{% block body %}

    <h2>{{ path  }}</h2>

    {% set columns = [
        'ObjectName',
        'Length',
        'Path',
        'StorageZoneId',
    ] %}
    <twig:simple_datatables
            perPage="20"
            :caller="_self"
            :columns="columns"
            :data="files"
    >
        <twig:block name="ObjectName">
            <a href="{{ path('survos_the-guardian_zone', {id: row.StorageZoneId, zoneName: row.StorageZoneName, path: row.ObjectName}) }}">
                {{ row.ObjectName }}
            </a>
        </twig:block>

        <twig:block name="Length">
            {{ row.IsDirectory ? '(dir)' : (row.Length)|number_format(0) }}
        </twig:block>

    </twig:simple_datatables>
{% endblock %}
